<div
  *ngIf="loadingCountries$ | async"
  class="screen-center"
>
  <mat-spinner></mat-spinner>
</div>
<div
  *ngIf="errorLoadingCountries$ | async"
  class="screen-center"
>
  <h3>
    <mat-icon>error_outline</mat-icon>
    Ooops! Error loading countries
  </h3>
  <button
    mat-raised-button
    color="accent"
    (click)="loadCountries()"
  >
    TRY AGAIN
  </button>
</div>
<div
  *ngIf="!(loadingCountries$ | async) && !(errorLoadingCountries$ | async)"
  class="form-container"
>
  <form [formGroup]="employeeForm">
    <!-- Name -->
    <mat-form-field>
      <input
        matInput
        formControlName="name"
        placeholder="Name"
        name="name"
        required
      >
      <mat-error *ngIf="employeeForm.get('name').hasError('required')">This field is required</mat-error>
    </mat-form-field>

    <!-- Birth date -->
    <mat-form-field>
      <input
        matInput
        formControlName="birthDate"
        [matDatepicker]="birthDatePicker"
        [max]="eighteenYearsBeforeToday"
        (click)="birthDatePicker.open()"
        placeholder="Date of birth"
        name="birthDate"
        readonly
        required
      >
      <mat-datepicker-toggle
        matSuffix
        [for]="birthDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #birthDatePicker
        [startAt]="eighteenYearsBeforeToday"
      ></mat-datepicker>
      <mat-error *ngIf="employeeForm.get('birthDate').hasError('required')">This field is required</mat-error>
    </mat-form-field>

    <!-- Country -->
    <mat-form-field>
      <mat-select
        formControlName="country"
        [compareWith]="compareCountry"
        placeholder="Country"
        name="country"
        required
      >
        <mat-option
          *ngFor="let country of countries$ | async"
          [value]="country"
        >
          {{ country.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('country').hasError('required')">This field is required</mat-error>
    </mat-form-field>

    <!-- Username -->
    <mat-form-field>
      <input
        formControlName="username"
        matInput
        placeholder="Username"
        name="username"
        required
      >
      <mat-error *ngIf="employeeForm.get('username').hasError('pattern')">Special characters are NOT allowed</mat-error>
      <mat-error *ngIf="employeeForm.get('username').hasError('required')">This field is required</mat-error>
    </mat-form-field>

    <!-- Hire date -->
    <mat-form-field>
      <input
        formControlName="hireDate"
        matInput
        [matDatepicker]="hireDatePicker"
        (click)="hireDatePicker.open()"
        placeholder="Hire Date"
        name="hireDate"
        readonly
        required
      >
      <mat-datepicker-toggle
        matSuffix
        [for]="hireDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #hireDatePicker></mat-datepicker>
      <mat-error *ngIf="employeeForm.get('hireDate').hasError('required')">This field is required</mat-error>
    </mat-form-field>

    <mat-divider></mat-divider>

    <!-- Area -->
    <div class="area">
      <mat-button-toggle-group
        formControlName="area"
        #selectedArea="matButtonToggleGroup"
        name="area"
        aria-label="Employee area"
        required
      >
        <mat-button-toggle
          *ngFor="let job of jobs"
          [value]="job.area"
        >
          {{ job.area }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- Job Title -->
    <app-job-title
      [area]="employeeForm.get('area').value"
      [formGroupParent]="employeeForm"
      [employee]="employee"
      [disabled]="disableFields"
    ></app-job-title>

    <!-- Status -->
    <mat-slide-toggle
      formControlName="status"
      color="primary"
      class="status-text"
      name="status"
      required
    >
      Status
    </mat-slide-toggle>
  </form>

  <div class="actions">
    <button
      *ngIf="currentCRUState !== cruStates.Read"
      mat-flat-button
      (click)="saveUpdateEmployee()"
      [disabled]="employeeForm.invalid"
      color="primary"
    >
      {{ currentCRUState === cruStates.Create ? 'SAVE' : 'UPDATE' }}
    </button>
  </div>
</div>
