<!-- TODO: add navigation back button -->
<form [formGroup]="employeeForm">
  <!-- Name -->
  <mat-form-field>
    <input
      matInput
      formControlName="name"
      placeholder="Name"
      name="name"
      required
    >
  </mat-form-field>

  <!-- Birth date -->
  <mat-form-field>
    <input
      matInput
      formControlName="birthDate"
      [matDatepicker]="birthDatePicker"
      [max]="today"
      (click)="birthDatePicker.open()"
      placeholder="Date of birth"
      name="birthDate"
      readonly
      required
    >
    <mat-datepicker-toggle
      matSuffix
      [for]="birthDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #birthDatePicker></mat-datepicker>
  </mat-form-field>

  <!-- Country -->
  <!-- TODO: implement better search functionality -->
  <!-- <mat-form-field>
    <mat-select placeholder="Country">
      <mat-option
        *ngFor="let country of countries$ | async"
        value="country"
      >
        {{ country.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <!-- Username -->
  <mat-form-field>
    <input
      formControlName="username"
      matInput
      placeholder="Username"
      name="username"
      required
    >
  </mat-form-field>

  <!-- Hire date -->
  <mat-form-field>
    <input
      formControlName="hireDate"
      matInput
      [matDatepicker]="hireDatePicker"
      [min]="today"
      (click)="hireDatePicker.open()"
      placeholder="Hire Date"
      name="hireDate"
      readonly
      required
    >
    <mat-datepicker-toggle
      matSuffix
      [for]="hireDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #hireDatePicker></mat-datepicker>
  </mat-form-field>

  <!-- Area -->
  <div>
    <mat-button-toggle-group
      formControlName="area"
      #selectedArea="matButtonToggleGroup"
      name="area"
      aria-label="Employee area"
      required
    >
      <mat-button-toggle
        *ngFor="let job of jobs"
        [value]="job.area"
      >
        {{ job.area }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <!-- Job Title -->
  <mat-form-field>
    <mat-select
      formControlName="jobTitle"
      placeholder="Job Title"
      name="jobTitle"
      required
    >
      <mat-option
        *ngFor="let jobTitle of currentJobTitles"
        [value]="jobTitle"
      >
        {{ jobTitle }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Tip Rate -->
  <mat-form-field *ngIf="(employeeForm.get('jobTitle').value === 'Waitress' ||
     employeeForm.get('jobTitle').value === 'Dinning Room Manager') &&
     employeeForm.get('tipRate')">
    <input
      formControlName="tipRate"
      matInput
      type="number"
      placeholder="Tip Rate"
      name="tipRate"
      class="example-right-align"
      required
    >
    <span matPrefix>$</span>
  </mat-form-field>

  <!-- Status -->
  <mat-slide-toggle
    formControlName="status"
    color="primary"
    class="status-text"
    name="status"
    required
  >
    Status
  </mat-slide-toggle>
</form>
{{ 'is form valid? ' + employeeForm?.valid }}
